{
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
      },
    },
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
    "extraFileExtensions": [".svelte"],
  },
  "rules": {
    "semi": "off",
    "arrow-body-style": [
      "error",
      "as-needed",
    ],
    "no-console": "error",
    "no-unused-vars": "error",
  },
  "extends": [
    "plugin:svelte/recommended",
  ],
}
