{
  "plugins": ["eslint-plugin-svelte3"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "rules": {
    "semi": "off",
    "arrow-body-style": [
      "error",
      "as-needed",
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../"],
      },
    ],
    "no-console": "error",
    "no-unused-vars": "error",
  },
}
